@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import "reset.css";

:root {
  --margin-contour: 15px;
  --primary: 237, 78, 66;
  --secondary: 246, 246, 246;
  --secondary-light: 255, 255, 255;
  --secondary-dark: 55, 55, 55;
  --dice-size: 50px;
  --dice-dorder: "solid rgba(128, 128, 128, 0.3) 1px";
}

html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition-duration: 0.5s;
  transition-property: font-size;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(165, 119, 72);
  background: linear-gradient(
    45deg,
    rgba(183, 124, 95, 1) 0%,
    rgba(125, 80, 57, 1) 20%,
    rgba(183, 124, 95, 1) 40%,
    rgba(125, 80, 57, 1) 60%,
    rgba(183, 124, 95, 1) 80%,
    rgba(183, 124, 95, 1) 100%
  );
}

/* ------------- Player ---------------- */
.players {
  position: absolute;
  top: var(--margin-contour);
  right: var(--margin-contour);
  bottom: var(--margin-contour);
  left: var(--margin-contour);
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
  background: rgb(158, 158, 158);
  background: linear-gradient(
    90deg,
    rgba(var(--secondary), 1) 0%,
    rgba(var(--secondary), 1) 50%,
    rgba(var(--secondary-light), 1) 50%,
    rgba(var(--secondary-light), 1) 100%
  );
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player > .title {
  position: relative;
  margin-top: 70px;
  font-size: 2.2rem;
  font-weight: 300;
}

.player-active > .title::after {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  content: " ";
  background-color: rgb(var(--primary));
  border-radius: 50%;
  transform: translate(0.6rem, 0.7rem);
}

.player > .score {
  margin-top: 40px;
  font-size: 4rem;
  font-weight: 100;
  color: rgb(var(--primary));
}

.player > .status {
  height: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(var(--primary));
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  transform: scale(0.1);
}

.player-end-game > .status {
  opacity: 1;
  transform: scale(1);
}

.player > .round {
  padding: 10px 20px;
  margin-top: 90px;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: rgb(var(--primary));
}

.player > .round > .round-score {
  margin-top: 13px;
  font-size: 1.6rem;
  color: rgb(var(--secondary-light));
}

/* ------------- Nav Game ---------------- */
.nav-game {
  position: absolute;
  top: var(--margin-contour);
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: calc(100vh - var(--margin-contour) * 2);
  font-size: 3rem;
  text-align: center;
  transform: translateX(-50%);
}

.nav-game > .btn {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  border: none;
  transition-duration: 0.5s;
  transition-property: color, background-color;
}

.nav-game > .btn:hover {
  color: rgba(var(--secondary-dark), 0.7);
}

.nav-game > .btn:disabled {
  color: rgba(var(--secondary-dark), 0.7);
  pointer-events: none;
}

.nav-game > .btn > svg {
  height: 1.8rem;
  margin-right: 15px;
  fill: rgb(var(--primary));
  stroke: rgb(var(--primary));
  transition-duration: 0.5s;
  transition-property: fill, stroke;
}

.nav-game > .btn:hover > svg {
  fill: rgba(var(--primary), 0.7);
  stroke: rgba(var(--primary), 0.7);
}

.nav-game > .btn:disabled > svg {
  fill: rgba(var(--secondary-dark), 0.7);
  stroke: rgba(var(--secondary-dark), 0.7);
}

.nav-game .btn-new {
  margin-top: 22px;
}

.nav-game .btn-rolldice {
  margin-top: 50px;
}

.nav-game .btn-hold {
  margin-top: 115px;
}

/* ------------- Dice ---------------- */
.nav-game .dice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--dice-size) * 1.5);
  height: calc(var(--dice-size) * 1.5);
  margin-top: 75px;
  perspective: 1000px;
  transition-property: width, height;
}

.nav-game .dice {
  position: relative;
  transform-style: preserve-3d;
  width: var(--dice-size);
  height: var(--dice-size);
  transform: rotate3d(1, 1, -1, 45deg);
}

.nav-game .dice > .face {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid rgba(128, 128, 128, 0.3) 1px;
  backface-visibility: inherit;
}

.nav-game .dice > .font {
  background-image: url("/images/dice-1.png");
  transform: translateZ(calc(var(--dice-size) / 2));
}

.nav-game .dice > .back {
  background-image: url("/images/dice-6.png");
  transform: translateZ(calc(calc(var(--dice-size) / 2) * -1));
}

.nav-game .dice > .top {
  background-image: url("/images/dice-4.png");
  transform: rotateX(90deg) translateZ(calc(var(--dice-size) / 2));
}

.nav-game .dice > .right {
  background-image: url("/images/dice-5.png");
  transform: rotateY(-90deg) translateZ(calc(var(--dice-size) / 2));
}

.nav-game .dice > .bottom {
  background-image: url("/images/dice-3.png");
  transform: rotateX(-90deg) translateZ(calc(var(--dice-size) / 2));
}

.nav-game .dice > .left {
  background-image: url("/images/dice-2.png");
  transform: rotateY(-90deg) translateZ(calc(calc(var(--dice-size) / 2) * -1));
}

.nav-game [class*=" spin-dice"] {
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-fill-mode: both;
}

.nav-game .dice-1 {
  transform: rotate3d(1, 1, -1, 0deg);
}

.nav-game .dice-2 {
  transform: rotate3d(1, 1, 1, 240deg);
}

.nav-game .dice-3 {
  transform: rotate3d(1, 1, 1, 120deg);
}

.nav-game .dice-4 {
  transform: rotate3d(1, 1, -1, 240deg);
}

.nav-game .dice-5 {
  transform: rotate3d(1, 1, -1, 120deg);
}

.nav-game .dice-6 {
  transform: rotate3d(1, 1, -1, 120deg) rotate3d(1, 1, 1, 120deg);
}

.nav-game .spin-dice-1 {
  animation-name: spin-dice-1;
}

.nav-game .spin-dice-2 {
  animation-name: spin-dice-2;
}

.nav-game .spin-dice-3 {
  animation-name: spin-dice-3;
}

.nav-game .spin-dice-4 {
  animation-name: spin-dice-4;
}

.nav-game .spin-dice-5 {
  animation-name: spin-dice-5;
}

.nav-game .spin-dice-6 {
  animation-name: spin-dice-6;
}

/* ------------- media queries---------------- */
@media (min-width: 575px) {
  :root {
    --dice-size: 65px;
  }

  html {
    font-size: 14px;
  }

  .player > .title {
    margin-top: 85px;
  }

  .player > .score {
    margin-top: 22px;
  }

  .player > .round {
    margin-top: 95px;
  }

  .nav-game .btn-rolldice {
    margin-top: 75px;
  }

  .nav-game .btn-hold {
    margin-top: 65px;
  }
}

@media (min-width: 767px) {
  :root {
    --dice-size: 85px;
  }

  html {
    font-size: 16px;
  }

  .player > .title-active::after {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    transform: translate(1rem, 0.7rem);
  }

  .nav-game {
    width: 350px;
  }
}

@media (min-width: 991px) {
  :root {
    --dice-size: 100px;
  }

  html {
    font-size: 20px;
  }
}

/* ------------- animation---------------- */
@keyframes spin-dice-1 {
  from {
    transform: rotate3d(1, 1, -1, 1000deg);
  }
  to {
    transform: rotate3d(1, 1, -1, 0deg);
  }
}

@keyframes spin-dice-2 {
  from {
    transform: rotate3d(1, 1, 1, 1240deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 240deg);
  }
}

@keyframes spin-dice-3 {
  0% {
    transform: rotate3d(1, 1, 1, 1120deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 120deg);
  }
}

@keyframes spin-dice-4 {
  from {
    transform: rotate3d(1, 1, -1, 1240deg);
  }
  to {
    transform: rotate3d(1, 1, -1, 240deg);
  }
}

@keyframes spin-dice-5 {
  from {
    transform: rotate3d(1, 1, -1, 1120deg);
  }
  to {
    transform: rotate3d(1, 1, -1, 120deg);
  }
}

@keyframes spin-dice-6 {
  from {
    transform: rotate3d(1, 1, -1, 1120deg) rotate3d(1, 1, 1, 122deg);
  }
  to {
    transform: rotate3d(1, 1, -1, 120deg) rotate3d(1, 1, 1, 120deg);
  }
}
